pydantic==2.4.2
pydantic-settings==2.0.3
python-dotenv==1.0.0
email-validator==2.0.0.post2
setuptools==68.2.2
psycopg[binary]==3.1.12
psycopg2-binary==2.9.8
SQLAlchemy==2.0.21
sqlalchemy-json==0.7.0
httpx[http2]==0.25.0
passlib==1.7.4
rispy==0.8.1
lark==1.1.7
scipy==1.11.3
numpy==1.25.2  # 10. Oct 2023: Needs to be 1.25 for number (for pynndescent)
scikit-learn==1.3.1
pynndescent==0.5.10